/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__body {
  display: flex;
  background-color: #f3f2ef;
}

h6 {
  font-size: 0.8em;
  font-weight: 600;
  color: gray;
}

@media screen and (max-width: 600px) {
  #display {
    display: none;
  }

  #media {
    /* margin-top: 1rem;
    margin-left: -1.5rem; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* background-color: #f3f2ef; */
    /* align-items: center; */
    justify-content: space-around;
  }

  #center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

p {
  font-size: 0.8em;
}
