/** @format */

.post {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  background-color: white;
  border-radius: 0.7rem;
  padding: 0.8rem;
}

.post__header {
  display: flex;
  margin-bottom: 0.7rem;
}

.post__info {
  margin-left: 0.7rem;
}

.post__body {
  overflow-wrap: anywhere;
}
.post__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
